.mainLanding {
  background-color: #026f7b;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;

  &__content {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgba(0, 87, 110, 0.69);
    min-height: 50vh;
    min-width: 50vw;
    border-radius: 30px;
    box-shadow: 0px 5px 15px #191919e3;

    &__title {
      font-family: "Audiowide";
      color: white;
      font-size: 1.5rem;
      margin-top: 100px;
    }

    &__user {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding-left: 1rem;
      color: white;
      font-size: 1rem;
      margin-top: 100px;
      background-color: rgba(255, 255, 255, 0.46);
      width: 10rem;
      height: 3em;
      border-radius: 13px;

      .fa-user {
        color: rgba(255, 192, 118, 1);
      }
    }
    &__password {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding-left: 1rem;
      color: white;
      font-size: 1rem;
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.46);
      width: 10rem;
      height: 3em;
      border-radius: 13px;

      .fa-lock {
        color: rgba(255, 192, 118, 1);
      }
    }

    &__login {
      font-size: 1rem;
      margin-top: 85px;
      background-color: rgba(255, 192, 118, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 8px #2a2a2ae3;
      width: 8rem;
      height: 3em;
      border-radius: 13px;
      &--text {
        text-decoration: none;
        color: white;
      }
    }
    &__signup {
      color: white;
      font-size: 0.8rem;
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 1.3rem;
    }
  }
}
